<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
   <h1>Network Information</h1>
   <ul>
      <li>
         The connection type is <span id="type" class="value">undefined</span>.
      </li>
      <li>
         The effective connection type is <span id="effectiveType" class="value">undefined</span>.
      </li>
      <li>
         The connection's downlink is <span id="downlink" class="value">undefined</span> Mb/s.
      </li>
      <li>
         The connection's rtt is <span id="rtt" class="value">undefined</span> ms.
      </li>
   </ul>
   <script src="../js/content.js"></script>
   <script type="module" src="../js/networkinfo.js"></script>
</body>

</html>